<header class="page-header" role="banner">
  <a href="{{ '/' | absolute_url }}" class="project-name-link">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  </a>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

  <nav class="nav-links">
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" class="nav-link" id="nav-link-{{ item.name | slugify }}">{{ item.name }}</a>
    {% endfor %}
  </nav>

  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
