/* ---- Nút ---- */
.btn-primary {
  background-color: #2672ff;
  color: #fff;
}
.btn-primary:hover {
  background-color: #0052d9;
}
.btn-outline {
  border: 1px solid #2672ff;
  color: #2672ff;
  background-color: transparent;
}
.btn-outline:hover {
  background-color: #2672ff;
  color: #fff;
}
