<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','YOUR_GTM_ID');</script>
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    {% include head-custom.html %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=YOUR_GTM_ID"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="wrapper">
      {% include header.html %}
      <section class="main-content">
        {{ content }}
      </section>
      {% include footer.html %}
    </div>

    <div class="floating-contact">
      <a href="https://zalo.me/YOUR_ZALO_NUMBER" target="_blank" class="zalo-float" id="float-btn-zalo">
        <img src="/assets/uploads/zalo-icon.png" alt="Zalo" /> </a>
      <a href="tel:YOUR_PHONE_NUMBER" class="phone-float" id="float-btn-call">
        <i class="fas fa-phone-alt"></i>
      </a>
    </div>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
